__pycache__

# *.en
# *.vi
*.txt

saved_model/

predict.py
data/train/*.en
data/train/*.vi
data/test/*.en
data/test/*.vi
# ./data/

saved_vocab/

checkpoints/

.vscode

.pytest_cache

train2.en
train2.vi